<header class="welcome-page__header">
  {{logo-image}}
</header>

<main class="welcome-page__content">
  <p class="welcome-page__introductory-text">
    Este juego pretende contribuir a una investigación
    cuyo objetivo es detectar si hay una relación entre
    tus genes y tu capacidad de detectar patrones visuales.
  </p>
  <label class="welcome-page__cta">
    ¿Te animás a probar?
  </label>
</main>

<footer class="welcome-page__footer">
  {{login-23andme scopes="basic,genomes,names,phenotypes:read:sex,phenotypes:read:date_of_birth"}}
</footer>
