/**
 * Paths
 */
$path-images: 'images/';

/**
 * Layout
 */
$page-bg-color: #fff;
$page-bg-color-bottom: color('blue', 'lighten-2');
$page-gradient-bg: linear-gradient(to bottom, $page-bg-color 80%, $page-bg-color-bottom 100%);
$page-font: 'Roboto';

/**
 * Component: Logo
 */
$logo-url: '#{$path-images}/logo-mockup.png';
$logo-width: 130px;
$logo-height: 164px;

/**
 * Component: Welcome page
 */
$welcome-page__font-size: 16px;
